@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
  font-family: "Outfit", sans-serif;
  
  left:0;
  right:0;
}
  ::-webkit-scrollbar{
    @apply hidden
  }
@theme{
  --color-primary:hsl(180, 90%, 45%);
  --color-primary-dull:oklch(37.9% 0.146 265.522)
  --color-light:oklch(70.7% 0.165 254.624)
  --color-borderColor:oklch(39.1% 0.09 240.876)
}

a{
  text-decoration: none;
  color: inherit;
}
